html,
body, #root {
    overflow-x: hidden;
    width: 100%;
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

html:has(body.no-scroll) {
    overflow-y: hidden;
}

body {
    background-color: var(--color-bg);
    color: var(--color-white);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 24px;
}

.wrapper {
    display: flex;
    flex: auto 1;
}

@media (max-width: 680px) {
    main {
        padding: 10px;
    }
}

