@font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/Lato/lato-regular.woff2") format("woff2"),
    url("../../fonts/Lato/lato-regular.woff") format("woff");
}

@font-face {
    font-family: 'Lato Bold';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Lato/lato-bold.woff2") format("woff2"),
    url("../../fonts/Lato/lato-bold.woff") format("woff");
}